#container {
  width: 500px;
  height: 500px;
  position: relative;
}
#mustdie {
  opacity: 40%;
}
#mustdie,
#prikol {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#prikol {
  z-index: 0;
}
